<div class="banner">
  <%= image_tag @page.banner_url(:banner).to_s %>
</div>

<div class="content">
    <div class="header"><%= @page.header %></div>
    <% if @view %>
        <%= render @view %>
    <% else %>
        <div class="plain">
            <%= simple_format(@page.content) %>
        </div>
    <% end %>
</div>