<% if @posts.each do |post| %>
  <div class="blog-post-wrap">
    <div class="title"><%= post.title %></div>
    <div class="image"><%= image_tag post.image_url(:topper).to_s %></div>
    <div class="content"><%= post.content %></div>
  </div>
<% end.empty? %>
  No posts.
<% end %>
