// *********
// Variables
// *********

$c-border: #ddd;

// ******
// Mixins
// ******

@mixin box-shadow($shadows) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin gradient-linear-left($from, $to) {
  background-color: $from;
  background-image: -webkit-gradient(linear, left top, right top, from($from), to($to));
  background-image: -webkit-linear-gradient(left, $from, $to);
  background-image:    -moz-linear-gradient(left, $from, $to);
  background-image:     -ms-linear-gradient(left, $from, $to);
  background-image:      -o-linear-gradient(left, $from, $to);
}

// *******
// General
// *******

body {
  width: 100%;
  margin: 0;
  color: #333;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, p {
  padding: 10px 0;
  margin: 0;
}

img {
  vertical-align: top;
  border: none;
}

.clear {
  clear: both;
}

.contentWidth {
  width: 940px;
  margin: 0 auto;
}

.pageBar {
  width: 100%;
  width: inherit;
  position: fixed;
  z-index: 1;
  text-shadow: 1px 1px 0 rgba(34,34,34,0.4);
  .pageBar_nav {
    float: right;
    .pageBar_nav_btn {
      padding: 0 10px;
      float: left;
      text-align: center;
      font-size: 1.4em;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      outline: none;
    }
  }
  .pageBar_dropdown_content {
    position: absolute;
    top: 75px;
    right: 0;
    padding: 5px 10px;
    display: none;
    .pageBar_nav_btn {
      font-size: .9em;
      line-height: 1.5em;
      white-space: nowrap;
      width: 100%;
      padding: 0;
      text-align: right;
    }
  }
}

// ******
// Layout
// ******

#page_top {
  line-height: 75px;
  // Title/logo
  #page_top_title {
    padding: 0 10px;
    text-align: right;
    float: left;
    cursor: pointer;
    font-size: 3em;
  }
}

// Banner and text content
#page-content {
  padding-top: 90px;
  iv.banner {
    height: 300px;
  }
  .banner::before
  {
    content: '';
    position: absolute;
    width: 940px;
    height: 300px;
    @include box-shadow(inset 0 0 2px 2px rgba(0, 0, 0, 0.2));
  }
  .homeImage::before
  {
    content: '';
    position: absolute;
    width: 940px;
    @include box-shadow(inset 0 0 2px 2px rgba(0, 0, 0, 0.2));
  }
  .content {
    font-size: 1.6em;
    line-height: 1.4em;
    background: #fff;
    @include box-shadow(0 0 2px 2px rgba(0, 0, 0, 0.1));
    div.plain {
      padding: 20px 25px;
    }
  }
}

// Footer copyright
#page_copyright {
  padding: 15px 0;
  text-align: right;
  font-size: 1.1em;
  span#page_copyright_symbol {
    font-family: sans-serif;
  }
}

// **********
// Bottom bar
// **********

#bottom {
  bottom: 0;
}

// *********
// Blog post
// *********

.blog-post {
  padding-top: 10px;
  .title {
    font-size: 1.2em;
    padding-left: 90px;
    height: 50px;
    position: relative;
    border: 1px solid $c-border;
    border-left: 0;
    width: 60%;
    background: #eee;
    .date {
      position: absolute;
      top: 2px;
      left: 0;
      text-align: center;
      padding: 2px;
      width: 70px;
      height: 42px;
      border-right: 1px solid $c-border;
      .day {
        font-size: 1.3em;
      }
      .month {
        font-size: .6em;
      }
    }
    .text {
      line-height: 50px;
    }
  }
  .image {
    padding: 10px;
    text-align: center;
  }
  > .text {
    padding: 0 20px;
  }
}
.blog-post.alpha {
  border:0;
}

// *****************
// Gallery thumbnail
// *****************

#gallery-wrapper {
  .gallery-empty {
    padding: 20px 25px;
  }
  .gallery-thumbnail-wrapper {
    float: left;
    .gallery-thumbnail {
      width: 205px;
      padding: 15px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .9em;
      float: left;
    }
  }
}

// *********
// Edit form
// *********

.form_edit_page_gallery_image {
  width: 100%;
  padding: 5px 0;
}
