// Variables
// *********
$c-border: #ddd;
// General
// *******
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
p {
  padding: 10px 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
a,
a:hover {
  color: inherit;
}
img {
  vertical-align: top;
  border: none;
}
.clear {
  clear: both;
}
// Nav
// ***
#nav {
  min-height: 57px;

  .navbar-brand {
    font-size: 1.4rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .nav-item {
    &:hover, &.nav-item-active {
      text-decoration: underline;
    }

    .nav-link {
      font-size: 15px;
      text-transform: uppercase;
    }

    @media (max-width: 991px) {
      .nav-link {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }
}
// Banner
// ******
.banner {
  width: 100%;
}
.banner-thumb {
  background-position: center;
  background-size: auto 100%;
  height: 100px;
}
.banner-remove {
  display: block;
  margin-top: 5px;
}
// Button groups
// *************
.btn-group .btn {
  border-radius: 0;
  margin-left: 0;
  text-transform: uppercase;
  border: 0;

  &:hover, &.btn-active {
    text-decoration: underline;
  }
}
// Section
// *******
section {
  padding: 1rem 0;
}
// Container
// *********
#container {
  flex: 1;
  overflow-y: auto;
}
// Footer
// ******
footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 1rem;

  @media (min-width: 768px) {
    div:last-of-type {
      font-size: 12px;
      float: right;
    }
  }
}
// Form
// ****
.tox-tinymce {
  min-height: 600px;
}
.form-error {
  padding-bottom: 10px;
  color: red;
  font-weight: bold;
}

.post-show {
  display: flex;
  flex-direction: column;

  > div {
    display: inline-flex;

    &:first-of-type {
      align-items: center;
      margin-bottom: 10px;

      h5 {
        margin: 0 0 0 20px;
      }
    }

    &:last-of-type {
      flex-wrap: wrap;

      img {
        margin: 0 10px 10px 0;
      }
  
      div {
        flex: 1 1 200px;
      }
    }
  }
}

.blog-post {
  padding-top: 10px;
  .title {
    font-size: 1.2em;
    padding: 10px 10px 10px 90px;
    min-height: 60px;
    position: relative;
    border: 1px solid $c-border;
    background: #eee;
    .date {
      position: absolute;
      top: 5px;
      left: 0;
      text-align: center;
      padding: 6px 2px 2px;
      width: 70px;
      height: calc(100% - 10px);
      border-right: 1px solid $c-border;
      .day {
        font-size: 1.3em;
      }
      .month {
        font-size: 0.6em;
      }
    }
    .text {
      min-height: 60px;
      display: flex;
      align-items: center;
      word-break: break-all;
    }
  }
  .image {
    padding: 10px;
    float: right;
  }
  > .text {
    padding: 0 20px;
  }
}
.blog-post.alpha {
  border: 0;
}
// Gallery
// *******
#gallery-wrapper {
  .gallery-empty {
    padding: 20px 25px;
  }
  .gallery-cats {
    width: 100%;
    flex-wrap: wrap;
  }
  .gallery-thumbnail-wrapper {
    text-align: center;
    .gallery-thumbnail {
      width: 235px;
      padding: 15px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.9em;
      display: inline-block;
      a {
        display: block;
      }
    }
  }
}
// Lightbox
// ********
#lightbox {
  top: 0 !important;
  height: 100%;
  overflow: auto;
  padding: 40px;
}
.hidden {
  display: none;
}
