// *************
// Scheme colors
// *************

$c-bg-body: #debd87;
$c-bg-bar: #555;
$c-bg-content: #fff;
$c-border-content: #ddd;
$c-font-body: #333;
$c-font-bar: #eee;
$c-font-copyright: #333;

// ******
// Mixins
// ******

@mixin box-shadow($shadows) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin gradient-linear-left($from, $to) {
  background-color: $from;  
  background-image: -webkit-gradient(linear, left top, right top, from($from), to($to));
  background-image: -webkit-linear-gradient(left, $from, $to); 
  background-image:    -moz-linear-gradient(left, $from, $to);
  background-image:     -ms-linear-gradient(left, $from, $to);
  background-image:      -o-linear-gradient(left, $from, $to);
}

// *******
// General
// *******

body {
  width: 100%;
  margin: 0;
  background: $c-bg-body;
  color: $c-font-body;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, p {
  padding: 10px 0;
  margin: 0;
}

img {
  vertical-align: top;
  border: none;
}

div.clear {
  clear: both;
}

div.contentWidth {
  width: 940px;
  margin: 0 auto;
}

div.pageBar {
  width: 100%;
  background: $c-bg-bar;
  color: $c-font-bar;
  width: inherit;
  position: fixed;
  z-index: 1;
  text-shadow: 0 -1px 0 rgba(34,34,34,0.4);
  div.pageBar_nav {
    float: right;
    .pageBar_nav_btn {
      padding: 0 10px;
      float: left;
      text-align: center;
      font-size: 1.4em;
      color: $c-font-bar;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
    }
  }
  div.pageBar_dropdown_content {
    position: absolute;
    top: 75px;
    right: 0;
    padding: 5px 10px;
    background: $c-bg-bar;
    display: none;
    a.pageBar_nav_btn {
      font-size: .9em;
      line-height: 1.5em;
      white-space: nowrap;
      width: 100%;
      padding: 0;
      text-align: right;
    }
  }
}

// ******
// Layout
// ******

div#page_top {
  line-height: 75px;
  // Title/logo
  div#page_top_title {
    padding: 0 10px;
    text-align: right;
    float: left;
    cursor: pointer;
    color: #fff;
    font-size: 3em;
  }
}

// Banner and text content
div#page-content {
  padding-top: 90px;
  div.banner {
    height: 300px;
  }
  // Banner inset shadow
  div.banner::before
  {
    content: '';
    position: absolute;
    width: 940px;
    height: 300px;
    @include box-shadow(inset 0 0 2px 2px rgba(0, 0, 0, 0.2));
  }  
  div.content {
    font-size: 1.6em;
    line-height: 1.4em;
    background: $c-bg-content;
    @include box-shadow(0 0 2px 2px rgba(0, 0, 0, 0.1));
    div.plain {
      padding: 20px 25px;
    }
  }
}

// Footer copyright
div#page_copyright {
  padding: 15px 0;
  text-align: right;
  font-size: 1.1em;
  color: $c-font-copyright;
  span#page_copyright_symbol {
    font-family: sans-serif;
  }
}

// **********
// Bottom bar
// **********

div#bottom {
  bottom: 0;
}

// *********
// Blog post
// *********

div.blog-post {
  padding-top: 10px;  
  div.title {
    font-size: 1.2em;
    padding-left: 90px;
    height: 50px;
    position: relative;
    border: 1px solid $c-border-content;
    border-left: 0;
    width: 60%;
    background: #eee;
    div.date {
      position: absolute;
      top: 2px;
      left: 0;
      text-align: center;
      padding: 2px;
      width: 70px;
      height: 42px;
      border-right: 1px solid $c-border-content;
      div.day {
        font-size: 1.3em;
      }
      div.month {
        font-size: .6em;
      }
    }
    div.text {
      line-height: 50px;  
    }
  }
  div.image {
    padding: 10px;
    text-align: center;
  }
  > div.text {
    padding: 0 20px;
  }
}
div.blog-post.alpha {
  border:0;
}

// *****************
// Gallery thumbnail
// *****************

div#gallery-wrapper {
  a {
    float: left;
    cursor: pointer;
    padding: 15px;
    img {
      width: 205px;
      height: 205px;
    }
  }
}

// *********
// Edit form
// *********

form.form_edit_page_gallery_image {
  width: 100%;
  padding: 5px 0;
}