<footer class="">
  <span class="btn-group btn-group-sm">
    <%= link_to 'Admin', admin_path, :class => 'btn btn-primary' %>
    <%= link_to 'New Page', new_page_path, :class => 'btn btn-primary' %>
    <%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %>
  </span>
  <span>
    All content ©
    <% if !Settings.instance.copyright_name.to_s.empty? %>
      <b><%= Settings.instance.copyright_name %></b>
    <% end %>
    | Powered by <b>CatCMS</b>
  </span>
</footer>