<div id="gallery-wrapper">
  <% if @posts.each do |post| %>
    <div class="gallery-image" href="<%= image_path(post.image) %>"
      data-text="<%= post.content %>">
      <%= image_tag post.image_url(:thumb) %>
    </div>
  <% end.empty? %>
    No images.
  <% end %>
  <div class="clear"></div>
</div>