<div id="top" class="bar">
  <div id="logo" class="title">
    <img src="/assets/logo.png" alt="Logo" />
  </div>

  <div id="nav" class="options">
    <% @pages.each do |page| %>
      <%= link_to page.title, '/' + page.path %>
    <% end %>
  </div>
</div>
