<div id="page-top" class="bar">
  <div class="name">
    <div class="main">Ann Fleming</div>
    <div class="sub">Sculptural Art</div>
  </div>

  <div class="tabs">
    <% @pages.each do |page| %>
      <div><%= link_to page.title, root_url + page.path %></div>
    <% end %>
  </div>
</div>
